# WeatherPy
In this example, you'll be creating a Python script to visualize the weather of 500+ cities across the world of varying distance from the equator. To accomplish this, you'll be utilizing a simple Python library, the OpenWeatherMap API, and a little common sense to create a representative model of weather across world cities.

Your objective is to build a series of scatter plots to showcase the following relationships:

1) Temperature (F) vs. Latitude
2) Humidity (%) vs. Latitude
3) Cloudiness (%) vs. Latitude
4) Wind Speed (mph) vs. Latitude

Your final notebook must:

1) Randomly select at least 500 unique (non-repeat) cities based on latitude and longitude.
2) Perform a weather check on each of the cities using a series of successive      API calls.
3) Include a print log of each city as it's being processed with the city          number, city name, and requested URL.
4) You must use the Matplotlib and Seaborn libraries.

In [22]:
import matplotlib.pyplot as plt
import seaborn as sns
import requests
import pandas as pd
import numpy as np
import json
import openweathermapy.core as owm
from citipy import citipy
from pprint import pprint
from owm_config import api_key

## Generate Cities List

In [24]:
# Create empty data frame and add columns for city, country, latitude and longitude
cities_list = pd.DataFrame()
cities_list["City"] = ""
cities_list["Country"] = ""
# Randomly generate numbers for latitude and longitude and loop through 500 times
cities_list["Latitude"] = [np.random.uniform(-90, 90) for x in range(5)]
cities_list["Longitude"] = [np.random.uniform(-180, 180) for x in range(5)]
# Use latitude and longitude to find city and country by using interrows and citipy
for index, row in cities_list.iterrows():
    lat = row["Latitude"]
    lng = row["Longitude"]
    cities_list.set_value(index, "City", citipy.nearest_city(lat, lng).city_name)
    cities_list.set_value(index, "Country", citipy.nearest_city(lat, lng).country_code)

cities_list

                    City Country   Latitude   Longitude
0             port blair      in  11.208991   89.846366
1  los llanos de aridane      es  25.898715  -23.337020
2                   nome      us  72.161535 -165.499966
3                   chuy      uy -58.982487  -27.202682
4                 albany      au -82.558798  110.471782

## Perform API Calls

In [68]:
# Perform API calls and display results in Data Frame
cities_list["Temperature"] = ""
cities_list["Humidity"] = ""
cities_list["Cloudiness"] = ""
cities_list["Wind Speed"] = ""
# Create a dictionary with parameters
settings = {"appid": api_key, "units": "imperial"}
# Create query url
query_url = f"{base_url}appid={settings['appid']}&units={settings['units']}&q="
# Iterrows in to loop city row in query url
print("Beginning Data Retrieval")
print("---------------------------")
for index, row in cities_list.iterrows():
    cities_response = requests.get(query_url + row["City"] + "," + row["Country"])
    print(cities_response.url)
    
    # Turn cities response into json with owm module
    cities_response = owm.get_current(row["City"], **settings)
    
    # Create summary variables to retrieve certain data from cities response
    lat_summary = ["coord.lat"]
    lon_summary = ["coord.lon"]
    temp_summary = ["main.temp"]
    humidity_summary = ["main.humidity"]
    cloud_summary = ["clouds.all"]
    wind_summary = ["wind.speed"]
    
    # Add retrieved data into cities_list data frame
    cities_list.set_value(index, "Latitude", cities_response(*lat_summary))
    cities_list.set_value(index, "Longitude", cities_response(*lon_summary))
    cities_list.set_value(index, "Temperature", cities_response(*temp_summary))
    cities_list.set_value(index, "Humidity", cities_response(*humidity_summary))
    cities_list.set_value(index, "Cloudiness", cities_response(*cloud_summary))
    cities_list.set_value(index, "Wind Speed", cities_response(*wind_summary))

print("---------------------------")
print("Data Retrieval Complete")
print("---------------------------")

cities_list

http://api.openweathermap.org/data/2.5/weather?appid=bc077df1e512a26037948a356f243d3d&units=imperial&q=port%20blair,in
http://api.openweathermap.org/data/2.5/weather?appid=bc077df1e512a26037948a356f243d3d&units=imperial&q=los%20llanos%20de%20aridane,es
http://api.openweathermap.org/data/2.5/weather?appid=bc077df1e512a26037948a356f243d3d&units=imperial&q=nome,us
http://api.openweathermap.org/data/2.5/weather?appid=bc077df1e512a26037948a356f243d3d&units=imperial&q=chuy,uy
http://api.openweathermap.org/data/2.5/weather?appid=bc077df1e512a26037948a356f243d3d&units=imperial&q=albany,au

,City,Country,Latitude,Longitude,Temperature,Humidity,Cloudiness,Wind Speed
0,port blair,in,11.67,92.75,83.04,100,0,4.88
1,los llanos de aridane,es,28.66,-17.92,69.8,43,90,4.7
2,nome,us,30.04,-94.42,55.36,82,1,9.01
3,chuy,uy,-33.69,-53.46,66.61,93,12,6.22
4,albany,au,42.65,-73.75,31.89,80,90,10.29

In [73]:
# # Perform API calls and display results in Data Frame
# cities_list["Temperature"] = ""
# cities_list["Humidity"] = ""
# cities_list["Cloudiness"] = ""
# cities_list["Wind Speed"] = ""
# # Assign variables and build query url
# base_url = "http://api.openweathermap.org/data/2.5/weather?"
# appid = api_key
# units = "imperial"
# query_url = f"{base_url}appid={api_key}&units={units}&q="
# # Iterrows in to loop city row in query url
# print("Beginning Data Retrieval")
# print("---------------------------")
# for index, row in cities_list.iterrows():
#     cities_response = requests.get(query_url + row["City"] + "," + row["Country"])
#     print(cities_response.url)
#     # turn into json
#     cities_response = cities_response.json()
    
#     cities_list.set_value(index, "Latitude", cities_response["coord"]["lat"])
#     cities_list.set_value(index, "Longitude", cities_response["coord"]["lon"])
#     cities_list.set_value(index, "Temperature", cities_response["main"]["temp"])
#     cities_list.set_value(index, "Humidity", cities_response["main"]["humidity"])
#     cities_list.set_value(index, "Cloudiness", cities_response["clouds"]["all"])
#     cities_list.set_value(index, "Wind Speed", cities_response["wind"]["speed"])

# print("---------------------------")
# print("Data Retrieval Complete")
# print("---------------------------")

# cities_list

## Latitude vs Temperature Plot

In [ ]:
# Temperature (F) vs. Latitude

## Latitude vs Humidity Plot

In [6]:
# Humidity (%) vs. Latitude

## Latitude vs Cloudiness Plot

In [7]:
# Cloudiness (%) vs. Latitude

## Latitude vs Wind Speed Plot

In [ ]:
# Wind Speed (mph) vs. Latitude